.comments {
    list-style-type: none;
    margin-left: 0;
    padding-left: 10px;
    font-size: 0.85rem;
    border-top: 1px solid #00000020;
  }
  
  .comments li {
    margin: 2px 0;
    letter-spacing: 0.2px;
  }
  
  .comment-form {
    /* width: 100%; */
    border-top: 1px solid #00000020;
    padding: 10px;
    margin-top: 10px;
  }
  
  .comment-input {
    width: 83%;
    border: none;
    font-size: 0.8rem;
  }
  
  .comment-input:focus {
    outline: none;
  }
  
  .comment-button {
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(92, 114, 238);
    cursor: pointer;
    transition: color 300ms;
  }
  
  .comment-button:hover {
    color: rgb(37, 68, 245);
  }
  
  .comment-button:active {
    color: rgb(127, 146, 250);
  }
  
  .comment-button:focus {
    outline: none;
  }
  
  .comment-form.image-card h2 {
    font-size: 1.5rem;
    padding: 15px 0;
  }
  
  .comment-form.image-card input {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  .comment-form.image-card .comment-button {
    font-size: 1rem;
  }
  